<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.unzosoft.zolunch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZoLunch">
        <activity android:name=".uiphone.ui.main.phone.DescriptionPhoneActivity"></activity>
        <activity android:name=".uiphone.ui.main.phone.PhoneListActivity" />
        <activity android:name=".uiphone.ui.main.phone.PhonesActivity" />
        <activity android:name=".uiphone.ui.main.phone.TypeActivityPhone" />
        <activity android:name=".uiphone.ui.main.viewmodel.PhoneTypesActivity" />
        <activity android:name=".uiphone.ui.main.phone.AddPhoneActivity" />
        <activity android:name=".uiphone.ui.main.phone.MainPhoneActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".uifast.MainFastFoodActivity">

        </activity>
        <activity android:name=".uifast.AddFastFoodActivity" />
        <activity android:name=".uifast.AllFastFoodActivity" />
        <activity android:name=".uifast.DescriptionFoodMenuActivity" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>